<div class="row">
  <div class='col-xs-6 col-xs-offset-3'>
    <h1>New Group</h1>
    <%= bootstrap_form_for @group do |f| %>
      <%= f.text_field :name %>

      <%= f.submit class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
