<h1>New Group</h1>

<%= render 'form', group: @group %>
<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= link_to 'Back', groups_path, class: 'btn btn-default little-margin'%>
  </div>
</div>
