<div id='mealModal'></div>
<div id='mealCalendar'></div>
<script>
    $(function() {
        $('#mealCalendar').fullCalendar({
            events: '/calendar',
            fixedWeekCount: false,
            height: 750,
            eventClick: function(event) {
                $('#mealModal').replaceWith('<%= j render 'meals/meal-modal' %>');
                const url = event.rating ? `ratings/${event.rating.id}/edit` : "ratings/new";
                $.ajax({
                    method: 'get',
                    url: url,
                    dataType: 'html',
                    success: function(data) {
                        $('#mealModal .modal-body').append(data);
                        $('#rating_meal_id').val(event.id);
                        $('#mealModal .modal-title').html(event.title);
                        $('#mealModal').modal('show');
                    },
                    error: function() {
                        alert("Fail! You suck!");
                    }
                });
            }
        });
    })
</script>