<div id='mealModal'></div>
 <div class='row'>
  <div class='col-xs-3'>
    <div id='todayCalendar'></div>
  </div>
  <div class='col-xs-3'>
    <div id='tomorrowCalendar'></div>
  </div>
  <div class='col-xs-3'>
    <canvas id='pie' height='200' width='200'></canvas>
  </div>
</div>

<script>
  $(function() {
    $('#todayCalendar').fullCalendar({
        events: '/calendar',
        defaultView: 'basicDay',
        header: { left: 'title', center: false, right: false },
        height: 'auto',
        eventClick: function(e) { openModal(e); }
    });

    $('#tomorrowCalendar').fullCalendar({
      events: '/calendar',
      defaultView: 'basicDay',
      header: { left: 'title', center: false, right: false },
      height: 'auto',
      eventClick: function(e) { openModal(e); }
    })
    .fullCalendar('next');

    $.ajax({
      method: 'get',
      url: '/response_pie',
      success: function(data) {
        var ctx = $('#pie');
        var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            datasets: [{
                data: [
                  data['no_response'],
                  data['0'],
                  data['1'],
                  data['2'],
                  data['3'],
                  data['4']
                ],
                backgroundColor: ['#FF0000', '#4B0082', '#0000FF', '#00FF00', '#FFFF00', '#FF7F00']
            }],
            labels: ['No Response', 'Awful', 'Bad', 'Meh', 'Good', 'Amazing']
          }
        });
      },
      error: function() {
        console.log("Reponse pie ajax failed dude");
      }
    });
  });

  function openModal(event) {
    $('#mealModal').replaceWith('<%= j render 'meals/meal-modal' %>');
    const url = event.rating ? `ratings/${event.rating.id}/edit` : "ratings/new";
    $.ajax({
      method: 'get',
      url: url,
      dataType: 'html',
      success: function(data) {
        $('#mealModal .modal-body').append(data);
        $('#rating_meal_id').val(event.id);
        $('#mealModal .modal-title').html(event.title);
        $('#mealModal').modal('show');
      },
      error: function() {
        alert("Fail! You suck!");
      }
    });
  }
</script>
