<div id='mealModal'></div>
<div class='row'>
  <div class='col-sm-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Today</div>
      <div class='panel-body'>
        <div id='todayCalendar'></div>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Tomorrow</div>
      <div class='panel-body'>
        <div id='tomorrowCalendar'></div>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Organization</div>
      <div class='panel-body'>
        <p><%= current_user.default_group&.name %></p>
        <p><%= current_user.default_group&.users&.count %> members </p>
        <% if current_user.admin?(current_user.default_group) %>
          <%= link_to "Settings", current_user.default_group, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Average Meal Quality over Time</div>
      <div class='panel-body'>
        <canvas id='line' height='400' width='600'></canvas>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 col-sm-offset-2'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Total Meal Quality</div>
      <div class='panel-body'>
        <canvas id='pie' height='200' width='200'></canvas>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Average Score by Meal Type</div>
      <div class='panel-body'>
        <canvas id='histogram' height='200' width='200'></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#todayCalendar').fullCalendar({
        events: '/calendar',
        defaultView: 'basicDay',
        header: { left: 'title', center: false, right: false },
        height: 'auto',
        eventClick: function(e) { openModal(e) }
    })

    $('#tomorrowCalendar').fullCalendar({
      events: '/calendar',
      defaultView: 'basicDay',
      header: { left: 'title', center: false, right: false },
      height: 'auto',
      eventClick: function(e) { openModal(e) }
    })
    .fullCalendar('next')

    $.ajax({
      method: 'get',
      url: '/response_pie',
      success: function(response) {
        PieChart($('#pie'), response.data, response.labels)
      },
      error: function() {
        console.log("Reponse pie ajax failed dude")
      }
    })

    $.ajax({
      method: 'get',
      url: '/meal_type_histogram',
      success: function(response) {
        BarChart($('#histogram'), response.data, response.labels)
      },
      error: function() {
        console.log("meal_type_histogram ajax failed dude")
      }
    })

    $.ajax({
      method: 'get',
      url: '/line_chart',
      success: response => LineChart($('#line'), response.data, response.labels),
      error: () => console.log("line chart failed brotato")
    })

  })



  function openModal(event) {
    $('#mealModal').replaceWith('<%= j render 'meals/meal-modal' %>')
    const url = event.rating ? `ratings/${event.rating.id}/edit` : "ratings/new"
    $.ajax({
      method: 'get',
      url: url,
      dataType: 'html',
      success: function(data) {
        $('#mealModal .modal-body').append(data)
        $('#rating_meal_id').val(event.id)
        $('#mealModal .modal-title').html(event.title)
        $('#mealModal').modal('show')
      },
      error: function() {
        alert("Fail! You suck!")
      }
    })
  }
</script>
