<div class='row'>
  <div class='jumbotron center'>
    <h1>Lunch!</h1>
    <p>
      A tool to gather data and crunch numbers on meal quality for your fraternity or school.
    </p>
    <%= link_to "Sign up!", signup_path, class: 'btn btn-default' %>
  </div>
</div>
