@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'fullcalendar';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.click-highlight {
	:hover {
		background-color: #d2d5db;
	}
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.center {
  text-align: center;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.little-margin {
	margin-top: 5px;
	margin-bottom: 5px;
}

.divider {
	border-bottom: 1px black solid;
}

.v-centered {
	height: 37px;
	line-height: 37px;
}

#mealForm {
  padding-top: 20px;
}